<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @{
        //TODO #1: Use a loop to display job results in a table.
<table style="job-listing">
        @foreach (Job jobs in ViewBag.jobs)
        {
            <tr>
                <th>ID: @jobs.Id</th>
                <th>Name: @jobs.Name</th>
                <th>Employer: @jobs.Employer</th>
                <th>Location: @jobs.Location</th>
                <th>Position Type: @jobs.PositionType</th>
                <th>Skill: @jobs.CoreCompetency</th>
            </tr>
        }
</table>
    }
</div>
